@model Lucilvio.TicketMe.AnemicModel.Clients.MyTickets.MyTicketsViewModel
@using Lucilvio.TicketMe.AnemicModel.Domain.Ticket
@using System.Security.Claims

@{
    Layout = "_Layout";
    ViewData["Title"] = "Tickets";
}

<div class="row mb-4">
    <div class="col-lg-12">
        <h1 class="display-4"> My Tickets </h1>
        <p class="text-uppercase small text-muted"> <a class="font-weight-bold" href="@Url.Action("Tickets", "Tickets")">Home</a> / <span class="font-weight-bold"> My Tickets </span></p>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="card-deck">

            @if (Model.TicketsList.Any())
            {
                @foreach (var ticket in Model.TicketsList)
                {
                    <div class="col-lg-12 m-1">
                        <div class="card">

                            <div class="card-body">
                                <div class="card-title">
                                    <h5> @ticket.Title </h5>
                                </div>
                                <div class="row">
                                    <div class="col-lg-2">
                                        <img class="card-img-top disabled" src="~/img/Ticket.png" />
                                    </div>
                                    <div class="col-lg-10">
                                        <p class="card-text"> @ticket.Description </p>
                                        <p class="card-text"><small class="text-muted"> Expiration @ticket.ExpirationDate.ToShortDateString() </small></p>

                                        @if (ticket.State != TicketState.Used)
                                        {
                                            <form action="@Url.Action("UseTicket")" method="post">
                                                <input type="hidden" name="ticketId" value="@ticket.Id" />
                                                <button class="btn btn-primary" type="submit"> Use </button>
                                            </form>
                                        }
                                        else
                                        {
                                            <p class="card-text badge badge-danger">
                                                USED
                                            </p>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
            else
            {
                <div class="text-center align-content-center text-muted">
                    <h1 class="display-1"> You don't have tickets </h1>
                </div>
            }
        </div>
    </div>
</div>